apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
stringData:
  PROJECT_NAME: kube-essentials
  SECRET_KEY: verysecret
  FIRST_SUPERUSER: admin@example.com
  FIRST_SUPERUSER_PASSWORD: # Should be at least 8 characters
  POSTGRES_SERVER: # Use the postgres-postgresql service located in the postrges namespace
  POSTGRES_PORT: "5432"
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: # Find it in the secret in the postgres namespace
